body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f1f1f;
  color: #ff4d4d;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

.form-section, .links-section, .dados-section {
  background-color: #1f1f1f;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(255, 77, 77, 0.1);
}

input[type="url"] {
  width: 720px;
  padding: 0.75rem;
  background-color: #2c2c2c;
  border: 1px solid #ff4d4d;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
}

.buttons {
  margin-top: 10px;
}

button {
  margin-right: 10px;
  padding: 0.5rem 1rem;
  background-color: #ff4d4d;
  border: none;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #cc0000;
}

.site {
  background-color: #2c2c2c;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(255, 77, 77, 0.2);
}

.site h2 {
  color: #ff4d4d;
  margin-bottom: 0.5rem;
}

.link {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.site a {
  color: #ff6666;  /* vermelho mais claro para os links */
  text-decoration: none;
  display: block;  /* cada link em uma linha */
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  white-space: normal;
}

.site a:hover {
  text-decoration: underline;
  color: #ff3333;  /* um vermelho mais vivo no hover */
}


.dados-section h2 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  max-width: 100%;
  white-space: normal;
}

.seletorDeSites {
  width: 750px;
  padding: 6px;
  border-radius: 6px;
  background-color: #111;
  color: #ff4d4d;
  border: 1px solid #ff4d4d;
  font-family: monospace;
}

.dados-section h2 {
  margin-top: 0.1px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #1f1f1f;
  color: #777;
}
