body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f1f1f;
  color: #6200ff;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

.form-section, .links-section, .dados-section {
  background-color: #1f1f1f;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0,255,204,0.1);
}

input[type="url"] {
  width: 720px;
  padding: 0.75rem;
  background-color: #2c2c2c;
  border: 1px solid #6200ff;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
}

.buttons {
  margin-top: 10px;
}

button {
  margin-right: 10px;
  padding: 0.5rem 1rem;
  background-color: #6200ff;
  border: none;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #6200ff;
}

.site {
  background-color: #2c2c2c;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,255,204,0.2);
}

.site h2 {
  color: #6200ff;
  margin-bottom: 0.5rem;
}

.link {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.link a {
  color: white;
  text-decoration: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  max-width: 100%; 
  white-space: normal;
}

.link img {
  display: block;
  margin-top: 5px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 255, 204, 0.3);
}

.dados-section h2 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  max-width: 100%; /*isso aqui meu amoigo, garante para nao ultrapassar a div bb*/
  white-space: normal;
}

.link a:hover {
  text-decoration: underline;
}

.seletorDeSites {
  width: 750px;
  padding: 6px;
  border-radius: 6px;
  background-color: #111;
  color: #6200ff;
  border: 1px solid #6200ff;
  font-family: monospace;
}

#ImagensColetadas {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
  padding: 0%;
  margin: 20px 0;
  justify-content: center;
}

#ImagensColetadas li {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 9px;
  background-color: #6200ff;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

#ImagensColetadas img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.dados-section h2 {
  margin-top: 0.1px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #1f1f1f;
  color: #777;
}
